.Access-Layout {
    width: 100%;
    height: 100vh;
    background-color: $primary_color_light;
    display: flex;
    justify-content: center;
    align-items: center;

    @at-root #{&}__Card {
        background-color: $white;
        width: 800px;
        height: 500px;
        border-radius: $border_radius * 2;
        box-shadow: $box_shadow;
        overflow: hidden;

        @at-root #{&}-Content {
            width: 100%;
            height: 100%;
            display: flex;

            > form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
            }
        }
    }
}