.Dashboard-Layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Dashboard-Page {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.Dashboard-Topbar {
    width: 100%;
    height: 40px;
    background-color: $primary_color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: $white;
}

.Dashboard-Sidepanel {
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: $light_color_10;
    transition: 0.3s all ease;
    white-space: nowrap;
    overflow-x: hidden;

    &.Dashboard-Sidepanel__Closed {
        width: 20px;
        user-select: none;
    }

    @at-root #{&}__List-Title {
        width: 100%;
        height: 40px;
        display: flex;
        font-size: 1.6rem;
        align-items: center;
        font-weight: $font_weight_bold;
        padding: 0 20px;
    }

    @at-root #{&}__List-Item {
        height: 35px;
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 20px;
        border-radius: $border_radius;
        margin: 0 20px;
        cursor: pointer;
        text-decoration: none;
        color: $black;

        &.Item-Active {
            background-color: $primary_color_light;
        }
    }
}

.Dashboard-Sidepanel__Close-Button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -12.5px;
    border: 1px solid $light_color_30;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    z-index: 100;

    &:hover {
        background-color: $primary_color;
        color: $white !important;

        svg {
            stroke: $white !important;
        }
    }

    svg {
        width: 15px;
        stroke: $primary_color;
    }
}
