.Main-Layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  overflow-y: auto;
  position: relative;

  @at-root #{&}__Todo-List {
    margin-top: 20px;
    width: 100%;

    @at-root #{&}__Item {
      width: 100%;
      height: 50px;
      display: flex;
      border-bottom: 1px solid $light_color_30;
      align-items: center;

      &:focus-within {
        border-color: $primary_color;
      }
    }
  }

  @at-root #{&}__Member-List {
    margin-top: 40px;
    width: 100%;

    @at-root #{&}__Member {
      width: 100%;
      height: 50px;
      display: flex;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $light_color_30;
      align-items: center;
    }
  }
}