.Textfield-No-Bg {
    border: 2px solid transparent;
    outline: 0;
    background-color: transparent;
    flex: 1;
    font-size: $font_size_normal;
    padding: 10px 10px 10px 0px;
}

.Textfield-With-Icon {
    display: flex;
    align-items: center;
    background-color: $light_color_20;
    border-radius: $border_radius;
    border: 2px solid transparent;
    padding-left: 10px;
    min-width: 0;
    
    &:focus-within {
        border-bottom-color: $primary_color;
    }
    
    >svg {
        width: 18px;
    }
    
    >input {
        font-size: $font_size_normal;
        border: 0;
        background-color: transparent;
        flex: 1;
        outline: 0;
        padding: 8px 10px;
    }
}

.Textfield-With-Icon__No-Bg {
    @extend .Textfield-With-Icon;
    background-color: transparent;
    border: 0;
    color: inherit;
    padding-left: 0;
}

.Textfield-White {
    color: $white;

    &::placeholder {
        color: $white;

    }
}